@use "./../../@shared/scss/variables.scss" as v;
@use "./../../@shared/scss/mixins.scss" as mixins;
.container {
  height: 100vh;
  width: 100%;
  max-height: calc(100vh - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 1rem;

  .sidebar {
    width: 20%;
    height: 100%;
  }

  .rigth {
    height: 100vh;
    max-height: calc(100vh - 3rem);
    flex: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: v.$border-radius;
    overflow: auto;
    padding: .5rem;

    .content {
      width: 100%;
      height: 100vh;
      max-height: calc(100vh - 5.75rem);
      // display: flex;
      // justify-content: center;
      // align-items: center;
      border-radius: v.$border-radius;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
