<div class="container">
  <app-sidebar
    [isHiddenHeader]="true"
    [headerTitle]="'Nombre de la Organizadora'"
    [headerIcon]="'./../../../assets/icons/arrow-left.svg'"
    [headerRoute]="['/dashboard']"
    [isHiddenSubHeader]="true"
    [subHeaderIcon]="'./../../../assets/icons/arrow-left.svg'"
    [subHeaderRoute]="['/o', '2', 'create-event']"
    [subHeaderTitle]="'Create Event'"
    [isHiddenItems]="true"
    [navData]="navbarData"
  >
  </app-sidebar>

  <div class="rigth">
    <app-header></app-header>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
