<header class="toolbar">
  <button
    mat-icon-button
    color="primary"
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
  >
    <mat-icon> store</mat-icon>
  </button>

  <button
    mat-icon-button
    color="primary"
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
  >
    <mat-icon>notifications</mat-icon>
  </button>

  <div class="avatar-container">
    <div class="avatar">
      <img
        class="avatar-img"
        src="./../../../../../assets/avatars/brian-hughes.jpg"
      />
    </div>
  </div>
</header>
