@use "./../../../../@shared/scss/variables.scss" as v;
@use "./../../../../@shared/scss/mixins.scss" as mixins;

.toolbar {
  width: 100%;
  height: 50px;
  background: transparent;

  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  border-radius: v.$border-radius;

  .left {
    width: 50px;
    height: 50px;
    background: v.$background-secondary;
    border-radius: v.$border-radius;
    box-shadow: v.$secondary-box-shadow;
    mat-icon {
      color: v.$font-principal;
    }
  }

  .center {
    width: 100%;
    height: 100%;
    border-radius: v.$border-radius;
    background: v.$background-opacity-2;
    box-shadow: v.$secondary-box-shadow;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;

    h1 {
      margin: 0;
      color: v.$font-secondary;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }

  .right {
    width: 60%;
    height: 100%;
    background: v.$background-primary;
    border-radius: v.$border-radius;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    mat-icon {
      color: v.$font-principal;
    }
  }
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .avatar {
    width: 40px;
    height: 40px;

    .avatar-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
