<footer class="bg-[#588157]">
  <div class="container mx-auto px-4 py-4">
    <div class="mb-4 grid grid-cols-1 md:grid-cols-4 gap-8">
      <div class="space-y-4">
        <h3 class="text-lg text-white !font-playfair">Sobre Nosotros</h3>
        <p class="text-sm text-white">
          <span class="text-base font-playfair">Los Jazmines</span> es tu
          destino para arreglos florales únicos y elegantes, creados con pasión
          y dedicación.
        </p>

        <div class="flex item gap-4">
          <div class="cursor-pointer">
            <lucide-icon
              name="instagram"
              size="24"
              class="text-white"
            ></lucide-icon>
          </div>
          <div class="cursor-pointer">
            <lucide-icon
              name="facebook"
              size="24"
              class="text-white"
            ></lucide-icon>
          </div>
        </div>
      </div>

      <div class="space-y-4">
        <h3 class="text-lg text-white !font-playfair">Enlaces Rápidos</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="#"
              class="text-sm text-white hover:text-primary elegant-transition"
              >Catálogo</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-sm text-white hover:text-primary elegant-transition"
              >Colecciones</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-sm text-white hover:text-primary elegant-transition"
              >Ofertas Especiales</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-sm text-white hover:text-primary elegant-transition"
              >Cuidado de Flores</a
            >
          </li>
        </ul>
      </div>

      <div class="space-y-4">
        <h3 class="text-lg text-white !font-playfair">Atención al Cliente</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="#"
              class="text-sm text-white hover:text-primary elegant-transition"
              >Contacto</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-sm text-white hover:text-primary elegant-transition"
              >Envíos</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-sm text-white hover:text-primary elegant-transition"
              >Devoluciones</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-sm text-white hover:text-primary elegant-transition"
              >FAQ</a
            >
          </li>
        </ul>
      </div>

      <div class="space-y-4">
        <h3 class="text-lg text-white !font-playfair">Dónde nos ubicamos</h3>
        <p class="text-sm text-white font-playfair">
          Nos encontramos en la hermosa ciudad de
          <strong>Tandil, Buenos Aires</strong>, en
          <strong>Av. España 995</strong>. ¡Te esperamos!
        </p>
        <div class="flex items-center gap-2">
          <lucide-icon name="map-pin" class="text-white"></lucide-icon>
          <a
            href="https://www.google.com/maps/search/Av.+España+995,+Tandil,+Buenos+Aires"
            target="_blank"
            class="text-sm text-[#ffffff] hover:underline"
          >
            Ver en Google Maps
          </a>
        </div>
      </div>
    </div>

    <div
      class="pt-4 border-t border-gray-200/50 flex flex-col md:flex-row justify-center items-center gap-4"
    >
      <p class="text-sm text-white font-600 font-playfair">
        © 2024 LosJazmines. Todos los derechos reservados.
      </p>

      <!-- <div class="flex gap-4">
        <a href="#" class="text-gray-400 hover:text-primary elegant-transition">
          <span class="sr-only">Facebook</span>
        </a>
        <a href="#" class="text-gray-400 hover:text-primary elegant-transition">
          <span class="sr-only">Instagram</span>
        </a>
        <a href="#" class="text-gray-400 hover:text-primary elegant-transition">
          <span class="sr-only">Twitter</span>
        </a>
      </div> -->
    </div>
  </div>
</footer>
