<div class="modal-container">
  <div class="modal-content">
    <lucide-icon name="circle-x" [size]="50" color="red"></lucide-icon>
    <h2 class="modal-title">Compra rechazada</h2>
    <p class="modal-text">Tu compra no ha sido completada.</p>
    <div class="button-container">
      <button
        class="flex items-center justify-center w-full cursor-pointer center-span tracking-wide w-[150px] h-[36px] bg-[#2196f3] border-none shadow-none text-sm text-white rounded hover:bg-[#1e88e5] focus:outline-none focus:ring-2 focus:ring-[#1976d2]"
        (click)="goToEvents()"
      >
        Ir al Inicio
      </button>
    </div>
  </div>
</div>
