<div class="relative">
  <!-- Botón que muestra el menú -->
  <div
    (click)="toggleDropdown()"
    class="border px-4 py-2 pr-8 rounded-[4px] text-sm bg-white cursor-pointer relative"
  >
    {{ selectedOption?.text || placeholder }}
    <div
      class="absolute inset-y-0 right-2 flex items-center pointer-events-none"
    >
      <lucide-icon name="chevron-down" class="w-4 h-4 text-black"></lucide-icon>
    </div>
  </div>

  <!-- Menú de opciones -->
  <div
    *ngIf="dropdownOpen"
    class="absolute top-full left-0 w-full bg-white border mt-1 rounded-md shadow-md overflow-auto max-h-60 z-20"
  >
    <ul class="w-full h-full">
      <li
        *ngFor="let option of options"
        (click)="selectOption(option)"
        class="px-4 py-2 text-sm cursor-pointer hover:bg-[#A2E100]/20"
      >
        {{ option.text }}
      </li>
    </ul>
  </div>
</div>
