<div
  class="w-full h-full min-h-[452px] flex flex-col items-center justify-center bg-primary rounded-[4px] px-8 py-4 z-20"
>
  <h1 class="title !text-xl !font-playfair !mb-[24px] text-white">
    Iniciar Sesión
  </h1>

  <form
    class="login-form w-full"
    [formGroup]="loginGroup"
    (submit)="submitEvent()"
  >
    <!-- <mat-form-field class="form-field" appearance="outline">
          <mat-label class="form-label">Email</mat-label>
          <input
            class="form-input"
            matInput
            formControlName="email"
            placeholder="Email"
            required
          />
          <mat-error
            class="form-error"
            *ngIf="loginGroup.get('email')?.hasError('email')"
            >Formato invalido.</mat-error
          >
        </mat-form-field> -->

    <div class="flex-1 w-full mb-2">
      <label for="email" class="block text-sm font-medium text-white/80"
        >Email</label
      >
      <input
        id="email"
        formControlName="email"
        type="email"
        class="mt-1 p-2 w-full border border-gray-300 rounded-[4px] focus:outline-none focus:ring-2 focus:ring-[#A2E100]/20"
        placeholder="Email"
      />
    </div>

    <!-- <mat-form-field class="form-field" appearance="outline">
          <mat-label class="form-label">Password</mat-label>
          <input
            class="form-input"
            matInput
            placeholder="Password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
            onkeydown="enterSubmit($event)"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </mat-form-field> -->

    <div class="flex-1 w-full mb-2">
      <label for="password" class="block text-sm font-medium text-white/80"
        >Contraseña</label
      >
      <input
        id="password"
        formControlName="password"
        type="password"
        class="mt-1 p-2 w-full border border-gray-300 rounded-[4px] focus:outline-none focus:ring-2 focus:ring-[#A2E100]/20"
        placeholder="Contraseña"
      />
      <div class="text-right mt-1">
        <span
          (click)="emitViewType('forgot-password')"
          class="text-sm text-white/80 hover:text-[#A2E100]/50 cursor-pointer"
          >¿Olvidaste tu contraseña?</span
        >
      </div>
    </div>

    <div class="w-full text-center">
      <!-- <button
            type="button"
            class="text-sm text-center text-white hover:underline focus:outline-none"
            (click)="openDialogChangePasswor()"
          >
            <p class="no-account">
              Has olvidado tu contraseña?
              <span (click)="openDialogChangePasswor()"
                >Recuperar contraseña.</span
              >
            </p>
          </button> -->

      <div class="w-full flex items-center justify-center mt-2 py-2">
        <p class="text-sm text-white mt-4 cursor-pointer w-full text-start">
          Has olvidado tu contraseña? <br />
          <span
            (click)="emitViewType('checkout')"
            class="hover:text-[#A2E100]/50 text-sm"
            >Recuperar contraseña.</span
          >
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-2 w-full">
      <button
        (click)="submitEvent()"
        type="submit"
        class="px-4 py-2 bg-[#3a5a40]/80 text-white rounded-[4px] shadow hover:bg-[#A2E100]/20 focus:outline-none transition"
      >
        <span class="tracking-widest"> Ingresar</span>
      </button>
      <!-- <button
            class="login-button login-button--submit"
            (click)="submitEvent()"
            type="submit"
            mat-flat-button
          >
            <span>Ingresar</span>
            <div  *ngIf="(_loandingService._loading$ | async)" class="loading"></div>
          </button> -->
      <div class="w-full">
        <button
          class="google-button"
          (click)="redirectToGoogleAuth()"
        >
          <img src="assets/images/google-logo.svg" alt="Google logo" />
          <span>Acceder con Google</span>
        </button>
      </div>
    </div>
  </form>

  <div class="w-full flex items-center justify-center mt-8">
    <p class="text-sm text-white mt-4 cursor-pointer w-full text-start">
      No tienes una cuenta? <br />
      <span
        (click)="emitViewType('register')"
        class="hover:text-[#A2E100]/50 text-sm"
        >Crear cuenta.</span
      >
    </p>
  </div>
</div>
