<div
  class="backdrop-blur-md bg-[#588157]/90 flex flex-col w-[288px] h-[408px] group relative overflow-hidden rounded-[4px] shadow-sm transition-shadow hover:shadow-lg overflow-hidden"
>
  <!-- Badges y Botones -->
  <!-- <div class="absolute right-2 top-2 z-10 flex gap-2">
    <ng-container *ngIf="isNew">
      <span class="rounded-md bg-background/80 px-2 py-1 text-xs font-medium text-black backdrop-blur-sm">New</span>
    </ng-container>
    <button class="h-8 w-8 rounded-full bg-background/80 text-black backdrop-blur-sm flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-black" viewBox="0 0 24 24" fill="none"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 3h2l.4 2M7 13h10l3.6-7H5.4M7 13L5.4 5M7 13l2 9m5-9l-2 9m5-9h2M10 21h4"></path>
      </svg>
    </button>
  </div> -->

  <!-- Imagen del producto -->
  <!-- <a href="#" class="w-full h-full relative aspect-square overflow-hidden"> </a> -->
  <div class="w-full h-full relative aspect-square overflow-hidden">
    <img
      [src]="image"
      [alt]="name"
      class="w-full object-fill h-full transition-opacity duration-500 ease-in-out group-hover:opacity-80"
    />
  </div>

  <!-- Contenido del producto -->
  <div class="p-4 flex flex-col justify-between">
    <!-- Título y precio -->
    <div>
      <div class="flex items-center justify-between">
        <h3 class="line-clamp-1 text-lg font-medium text-white">{{ name }}</h3>
      </div>
      <p class="text-xs uppercase text-muted-foreground text-white">
        {{ category }}
      </p>
    </div>

    <!-- Descripción -->
    <div class="mt-2 !h-[40px]">
      <p class="line-clamp-2 text-sm text-white">{{ description }}</p>
    </div>

    <div class="flex items-center justify-between gap-4">
      <div class="">
        <span class="font-semibold text-lg text-white"
          >${{ price.toFixed(2) }}</span
        >
      </div>
      <button
        (click)="addToCart($event)"
        class="w-full md:max-w-[150px] bg-[#3a5a40] text-white py-2 rounded-[4px] hover:bg-black/50 flex items-center justify-center gap-4"
      >
        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-4 w-4" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 3h2l.4 2M7 13h10l3.6-7H5.4M7 13L5.4 5M7 13l2 9m5-9l-2 9m5-9h2M10 21h4"></path>
      </svg> -->
        <!-- <lucide-icon name="plus"></lucide-icon> -->
        <span>Agregar al carrito</span>
      </button>
    </div>
  </div>
</div>
