<div
  class="backdrop-blur-md bg-[#588157]/90 flex flex-col w-[288px] h-[408px] group relative overflow-hidden rounded-[4px] shadow-sm transition-shadow hover:shadow-lg"
>
  <!-- Imagen del producto -->
  <div class="w-full h-full relative aspect-square overflow-hidden">
    <!-- Se muestra la primera imagen o una placeholder en caso de que no exista -->
    <img
      [src]="product.images[0]?.url ?? ''"
      [alt]="product.name"
      class="w-full object-fill h-full transition-opacity duration-500 ease-in-out group-hover:opacity-80"
    />
  </div>

  <!-- Contenido del producto -->
  <div class="p-4 flex flex-col justify-between">
    <!-- Título y categoría -->
    <div>
      <div class="flex items-center justify-between">
        <h3 class="line-clamp-1 text-lg font-medium text-white">
          {{ product.name }}
        </h3>
      </div>
      <p class="text-xs uppercase text-muted-foreground text-white">
        {{ product.category }}
      </p>
    </div>

    <!-- Descripción -->
    <div class="mt-2 !h-[40px]">
      <p class="line-clamp-2 text-sm text-white">
        {{ product.description }}
      </p>
    </div>

    <!-- Precio y botón -->
    <div class="flex items-center justify-between gap-4">
      <div>
        <span class="font-semibold text-lg text-white">
          ${{ product.price.toFixed(2) }}
        </span>
      </div>
      <button
        (click)="addToCart()"
        class="w-full md:max-w-[150px] bg-[#3a5a40] text-white py-2 rounded-[4px] hover:bg-black/50 flex items-center justify-center gap-4"
      >
        <span>Agregar al carrito</span>
      </button>
    </div>
  </div>
</div>
