<header class="toolbar">
  <div class="content">
    <div class="logo-container">
      <p class="text-start">Los Jazmines</p>
    </div>

    <div class="flex justify-center items-center">
      <div class="link-container">
        <div class="">
          <button [routerLink]="['/home']" routerLinkActive="router-link-active" class="btn-header" mat-flat-button>
            Home
          </button>
        </div>
        <div class="">
          <button [routerLink]="['/online-store']" routerLinkActive="router-link-active" class="btn-header"
            mat-flat-button>
            Store
          </button>
        </div>
        <div class="">
          <button [routerLink]="['/about']" routerLinkActive="router-link-active" class="btn-header" mat-flat-button>
            About
          </button>
        </div>
        <div class="">
          <button [routerLink]="['/contact']" routerLinkActive="router-link-active" class="btn-header" mat-flat-button>
            contact
          </button>
        </div>
      </div>
    </div>
    <div class="right-container">


      <button mat-icon-button class="text-black custom-badge" [routerLink]="['/admin']"
        routerLinkActive="router-link-active" matBadge="5" matBadgeColor="primary" matBadgePosition="above after">
        <lucide-icon [size]="24" name="shopping-cart"></lucide-icon>
      </button>

      <button mat-icon-button class="text-black" [routerLink]="['/admin']" routerLinkActive="router-link-active">
        <lucide-icon [size]="24" name="search"></lucide-icon>
      </button>

      <button mat-icon-button class="text-black" [routerLink]="['/admin']" routerLinkActive="router-link-active">
        <lucide-icon [size]="24" name="shield"></lucide-icon>
      </button>

      <div class="">
        <button (click)="openDialogLogin()"
          class="px-4 py-2 bg-black text-white rounded-md shadow hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 transition">
          Login
        </button>
      </div>
    </div>
  </div>
</header>