<header
  class="top-0 left-0 w-full transition-all duration-0 ease-in-out z-50 text-[#3a5a40] to-black toolbar backdrop-blur-md"
  [ngClass]="{
    'fixed bg-white/80 backdrop-blur-md shadow-md': scrolled,
    'bg-transparent  shadow-none': !scrolled
  }"
>
  <div class="content mx-4 xl:m-0">
    <div class="logo-container">
      <div class="flex md:hidden justify-end">
        <button
          mat-icon-button
          aria-label="menu"
          (click)="openLeftDrawer()"
          class="text-white"
        >
          <lucide-icon name="align-left"></lucide-icon>
        </button>
      </div>
      <!-- <div class="min-w-[150px] min-h-[36px] mr-4">
        <p class="text-start font-playfair text-2xl">Los Jazmines</p>
      </div> -->
      <app-logo></app-logo>
      <div class="hidden md:flex justify-start items-center">
        <div class="link-container">
          <div class="">
            <button
              [routerLink]="['/home']"
              routerLinkActive="router-link-active"
              class="btn-header"
              mat-flat-button
            >
              Inicio
            </button>
          </div>
          <div class="">
            <button
              [routerLink]="['/online-store']"
              routerLinkActive="router-link-active"
              class="btn-header"
              mat-flat-button
            >
              Tienda
            </button>
          </div>
          <!-- <div class="">
            <button
              [routerLink]="['/about']"
              routerLinkActive="router-link-active"
              class="btn-header"
              mat-flat-button
            >
              Acerca de
            </button>
          </div> -->
          <!-- <div class="">
            <button
              [routerLink]="['/contact']"
              routerLinkActive="router-link-active"
              class="btn-header"
              mat-flat-button
            >
              Contacto
            </button>
          </div> -->
        </div>
      </div>
    </div>

    <div class="right-container">
      <button
        mat-icon-button
        class="relative text-black custom-badge"
        [routerLink]="['/card-order']"
        routerLinkActive="router-link-active"
      >
        <span
          class="absolute -top-[-10px] right-[23px] transform translate-x-1/2 -translate-y-1/2 text-black text-xs font-semibold px-2 py-0.5 rounded-full"
        >
          {{ shoppingCartLength() }}
        </span>
        <lucide-icon [size]="24" name="shopping-cart"></lucide-icon>
      </button>
      <!-- 
      <button
        mat-icon-button
        class="text-black"
        [routerLink]="['/admin']"
        routerLinkActive="router-link-active"
      >
        <lucide-icon [size]="24" name="search"></lucide-icon>
      </button> -->
      <!-- 
      <button
        mat-icon-button
        class="text-black"
        [routerLink]="['/admin']"
        routerLinkActive="router-link-active"
      >
        <lucide-icon [size]="24" name="shield"></lucide-icon>
      </button> -->
      <!-- @if( isAdmin$ | async ){
      <button
        mat-icon-button
        class="text-black"
        [routerLink]="['/admin']"
        routerLinkActive="router-link-active"
      >
        <lucide-icon [size]="24" name="shield"></lucide-icon>
      </button>
      } -->
      @if(!this.currentUser()?.username){
      <div>
        <button
          (click)="openDialogLogin()"
          class="px-4 py-2 bg-[#3a5a40]/80 text-white rounded-[4px] shadow hover:bg-[#3a5a40]/80 focus:outline-none transition"
        >
          <span class="tracking-widest"> Ingresar</span>
        </button>
      </div>
      } @if(this.currentUser()?.username){
      <div class="cursor-pointer group" (click)="openRightDrawer()">
        <!-- Avatar y nombre de usuario -->
        <div
          class="flex items-center gap-2 rounded-lg transition-all duration-300"
        >
          <span class="text-lg font-medium group-hover:shadow-text">{{
            currentUser()?.username
          }}</span>
          <div
            class="w-10 h-10 bg-[#3a5a40]/80 rounded-full flex items-center justify-center text-white font-bold group-hover:shadow-lg hover:bg-opacity-100"
          >
            <!-- Avatar (sin foto, solo un fondo gris con las iniciales) -->
            <span>{{ currentUser()?.username | slice : 0 : 1 }}</span>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</header>
