@use "./../../scss/variables.scss" as v;
@use "./../../scss/mixins.scss" as mixins;

// .mode-over {
//   background: v.$background-sidebar;
//   width: 100%;
//   height: 100vh;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 98;
//   overflow: hidden;

//   @include mixins.laptop {
//     display: none;
//     position: static;
//   }
// }

.container-sidebar {
  width: 290px;
  height: 100vh;
  max-height: calc(100vh - 2rem);
  background: v.$background-secondary;
  box-shadow: v.$primary-box-shadow;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  overflow-y: hidden;
  border-radius: v.$border-radius;
  // margin: 1rem;

  @include mixins.laptop {
    // padding: 0;
    // width: auto;
    position: static;
  }
}

.nav-header {
  background: v.$background-secondary;
  color: v.$font-principal;
  border-radius: v.$border-radius;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;

  .logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    p {
      margin: 0;
      font-size: 1.8rem;
    }
  }

  .event-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: v.$font-principal;
    width: 100%;

    .btn-custom {
      border-radius: v.$border-radius;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 50px;
    }

    .event-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      .event-arrow-icon {
        width: 1.5rem;
        margin: 1rem;
      }
    }

    .event-name-right {
      margin-left: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 75%;
    }

    .vertical-line {
      margin: 4px;
      border-left: 1px solid #fefefe8d;
      height: 25px;
    }

    h1 {
      margin: 0;
      font-size: 1.2rem;
    }
  }
}

.nav-items {
  width: 250px;
  // margin-top: 15px;

  .sidenav-nav {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .sidenav-nav-item {
      width: 100%;
      height: 50px;
      margin-bottom: 2px;
      background: v.$background-opacity-1;

      &:first-child {
        border-top-left-radius: v.$border-radius;
        border-top-right-radius: v.$border-radius;
      }

      &:last-child {
        border-bottom-left-radius: v.$border-radius;
        border-bottom-right-radius: v.$border-radius;
      }

      .sidenav-nav-link {
        display: flex;
        align-items: center;
        height: 50px;
        margin-bottom: 3px;
        color: v.$font-principal;
        text-decoration: none;
        transition: all 0.3s ease;

        .sidenav-link-icon {
          width: 1.5rem;
          margin: 1rem;
        }

        .sidenav-link-text {
          margin-left: 1.5rem;
        }
      }
    }

    .sidenav-nav-item:hover {
      background-color: v.$hover;
      color: v.$font-principal;
    }

    // .disabled {
    //   // background: v.$disabled;
    //   pointer-events: none;
    //   color: v.$color-disabled;
    //   &:hover {
    //     background: v.$disabled;
    //     cursor: none;
    //   }
    // }
  }
}

.config {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .settings-icon {
    color: v.$font-principal;
  }
}

.sidenav-collapsed {
  width: 55px;
}
.full-width {
  width: 100% !important;
}

.active {
  background-color: v.$hover;
}
