<div
  class="grid grid-cols-6 w-full items-center gap-4 bg-black/5 rounded shadow p-2"
>
  <!-- Columna 1: Imagen -->
  <div
    class="w-[60px] h-[60px] rounded overflow-hidden shadow bg-black/20 flex-shrink-0"
  >
    <img
      [src]="product.images[0]"
      alt="Imagen del producto"
      class="w-full h-full object-cover"
    />
  </div>

  <div class="flex items-center justify-center gap-2">
    <lucide-icon name="box" class="w-4 h-4 text-gray-600"></lucide-icon>
    <p class="text-sm font-semibold text-gray-800">
      #{{ product.orderNumber }}
    </p>
  </div>

  <!-- Columna 2: Nombre del producto -->
  <div class="flex items-center gap-2">
    <lucide-icon name="box" class="w-4 h-4 text-gray-600"></lucide-icon>
    <p class="text-sm font-semibold text-gray-800">{{ product.name }}</p>
  </div>

  <!-- Columna 3: Cantidad -->
  <div class="flex items-center gap-2 justify-center">
    <lucide-icon name="layers" class="w-4 h-4 text-gray-600"></lucide-icon>
    <p class="text-sm font-bold text-black">{{ product.stock }}</p>
  </div>

  <!-- Columna 4: Precio unitario -->
  <div class="flex items-center gap-2 justify-center">
    <lucide-icon name="dollar-sign" class="w-4 h-4 text-gray-600"></lucide-icon>
    <p class="text-sm font-bold text-black">{{ product.price }}</p>
  </div>

  <!-- Columna 5: Precio final total -->
  <div class="flex items-center gap-2 justify-center">
    <!-- Icono de tres puntos -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <lucide-icon
        name="ellipsis-vertical"
        class="w-6 h-6 text-gray-600 cursor-pointer"
      ></lucide-icon>
    </button>

    <!-- Menú desplegable -->
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        (click)="verProducto()"
        class="flex items-center gap-2 justify-center"
      >
        <div class="flex items-center gap-2 justify-start">
          <lucide-icon
            name="eye"
            class="w-4 h-4 text-gray-600 mr-2"
          ></lucide-icon>
          Ver Producto
        </div>
      </button>
      <button mat-menu-item (click)="editarProducto()">
        <div class="flex items-center gap-2 justify-start">
          <lucide-icon
            name="pencil"
            class="w-4 h-4 text-gray-600 mr-2"
          ></lucide-icon>
          Editar
        </div>
      </button>
      <button mat-menu-item (click)="eliminarProducto()">
        <div class="flex items-center gap-2 justify-start">
          <lucide-icon
            name="trash-2"
            class="w-4 h-4 text-red-600 mr-2"
          ></lucide-icon>
          Eliminar
        </div>
      </button>
    </mat-menu>
  </div>
</div>
