<div
    class="p-4 rounded-lg shadow-lg flex flex-col justify-between items-start bg-black/70 text-primary-foreground  min-h-80 ">
    <div class="flex flex-col items-start justify-between w-full">
        <h2 class="flex flex-row gap-2 items-center text-3xl  font-medium text-black mb-2 mr-2 ">
            <lucide-icon name="newspaper" class="text-white"></lucide-icon>
            Noticias y Anuncios
        </h2>
        <p>Mantente al día con las últimas novedades de la empresa</p>
    </div>

    <div class="flex flex-col gap-2 w-full p-2  rounded-lg ">
        <!-- Card 1: Brindis de Fin de Año -->
        <div class="flex flex-col gap-1 ">
            <div class="flex flex-row items-center text-2xl font-semibold text-white tracking-wide gap-3">
                <div class="flex items-center justify-center w-10 h-10 bg-white/10 rounded-full">
                    <lucide-icon name="megaphone" class="text-white"></lucide-icon>
                </div>
                <h3>Brindis de fin de año</h3>
            </div>
            <p class="text-white text-sm">Celebremos juntos el cierre de este año con un brindis especial. ¡Están
                todos invitados!</p>
        </div>
        <hr class="border-t border-gray-300 opacity-80 my-2">

        <!-- Card 2: Llegaron las Remeras -->
        <div class="flex flex-col gap-1">
            <div class="flex flex-row items-center text-2xl font-semibold text-white tracking-wide gap-3">
                <div class="flex items-center justify-center w-10 h-10 bg-white/10 rounded-full">
                    <lucide-icon name="megaphone" class="text-white"></lucide-icon>
                </div>
                <h3>Llegaron las remeras</h3>
            </div>
            <p class="text-white text-sm">Las nuevas remeras de la empresa ya están aquí. ¡Pasa a recoger la tuya!
            </p>
        </div>
        <hr class="border-t border-gray-300 opacity-80 my-2">
    </div>
</div>