<div class="min-h-full">
  <!-- Header -->
  <!-- <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-semibold text-gray-700">Productos</h1>
    <button
      (click)="openDialogAddProduct()"
      class="bg-black text-white px-4 py-2 rounded-lg flex items-center gap-2"
    >
      <lucide-icon name="plus" class="w-5 h-5"></lucide-icon>
      Agregar Producto
    </button>
  </div>
 -->
  <div
    class="flex flex-col lg:flex-row justify-between items-center mb-4 gap-4"
  >
    <h1 class="text-3xl mb-6 text-[#3a5a40] !font-playfair text-start w-full">
      Productos
    </h1>

    <div class="w-full flex flex-col lg:flex-row items-center gap-4">
      <app-search-moderno-reactive
        [inputPlaceholder]="'Buscar por Direccion o Nombre del destinatario'"
        (search)="handleSearch($event)"
        class="w-full lg:w-[400px]"
      ></app-search-moderno-reactive>
      <button
        (click)="openDialogAddProduct()"
        class="w-full lg:w-max px-4 py-2 bg-[#3a5a40]/80 text-white rounded-[4px] shadow hover:bg-[#3a5a40]/80 focus:outline-none transition flex items-center gap-2"
      >
        <lucide-icon name="plus" class="w-5 h-5"></lucide-icon>
        Agregar Producto
      </button>
    </div>
  </div>

  <div class="flex justify-end items-center mb-5">
    <!-- Contador de Items -->
    <div class="text-sm font-medium">
      <span>{{ productsOne().length }} Items disponibles</span>
    </div>
  </div>
  <!-- Tabla de Productos -->
  <div class="rounded-[4px]">
    <app-products-table [products]="this.productsOne()"></app-products-table>
  </div>
</div>
