<div class="container-dashborad">
  <p>dashboard works!</p>

  <button class="ml-4" mat-flat-button (click)="toggleDrawerOpen()">
    Toggle drawer open
  </button>
</div>

<!-- <div *ngIf="drawerOpened" class="drawe-right">
  <app-drawer
    [@fadeInRight]
    [name]="'rightDrawer'"
    [opened]="drawerOpened"
    [position]="'right'"
    [mode]="drawerMode"
  >
    <div class="">right drawer</div>
  </app-drawer>
</div> -->

<!-- <div class="flex-auto bg-gray-100 p-4">Some content</div> -->

<!-- Right drawer must be positioned after the content

        <fuse-drawer
            [name]="'leftDrawer'"
            [opened]="true"
            [position]="'right'"
            [mode]="'side'">
            <div class="p-4">
                Right drawer
            </div>
        </fuse-drawer>

    -->
