<div class="online-store-container">
  <div class="online-store">
    <div class="right">
      <div class="header">
        <div [@zoomIn] [@zoomOut] class="carrousel">
          <app-carrousel-swiper [images]="imgHeader"></app-carrousel-swiper>
        </div>
      </div>
      <div class="body">
        <div class="left">
          <div class="filters flex justify-center items-center gap-6">
            @for (filter of filters; track $index) {
            <app-circle-filter
              [categoryName]="filter.categoryName"
              [iconPath]="filter.iconPath"
              (categorySelected)="onCategorySelected($event)"
            >
            </app-circle-filter>
            }
          </div>
        </div>
      </div>
      <div class="w-full">
        <h2 class="text-4xl uppercase font-bold text-gray-800">
          Colecciones de {{ temporada }}
        </h2>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 h-full"
        >
          <app-card-item
            *ngFor="let product of filteredProducts"
            [name]="product.name"
            [description]="product.description"
            [price]="product.price"
            [image]="product.image"
            [category]="product.category"
            [isNew]="product.isNew"
          ></app-card-item>
        </div>
      </div>

      <div class="w-full">
        <h2 class="text-4xl uppercase font-bold text-gray-800">
          Colecciones de {{ temporada }}
        </h2>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 h-full"
        >
          <app-card-item
            *ngFor="let product of filteredProducts"
            [name]="product.name"
            [description]="product.description"
            [price]="product.price"
            [image]="product.image"
            [category]="product.category"
            [isNew]="product.isNew"
          ></app-card-item>
        </div>
      </div>

      <div class="w-full">
        <h2 class="text-4xl uppercase font-bold text-gray-800">
          Colecciones de {{ temporada }}
        </h2>
        <div
          class="grid items-center justify-center grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4"
        >
          <app-card-item
            *ngFor="let product of products"
            [name]="product.name"
            [description]="product.description"
            [price]="product.price"
            [image]="product.image"
            [category]="product.category"
            [isNew]="product.isNew"
          ></app-card-item>
        </div>
      </div>
    </div>
  </div>
</div>
