<div class="online-store-container">
  <div class="online-store">
    <div class="right">
      <div class="header">
        <div [@zoomIn] [@zoomOut] class="carrousel">
          <app-carrousel-swiper [images]="imgHeader"></app-carrousel-swiper>
        </div>
      </div>
      <div class="body">
        <div class="left">
          <div class="filters flex justify-center items-center gap-6">
            <div
              (click)="selectCategory('muebles')"
              class="flex flex-col items-center transition-all duration-300 cursor-pointer group"
            >
              <!-- Círculo con la imagen -->
              <div
                class="w-[120px] h-[120px] bg-black/20 rounded-full flex items-center justify-center transition-all duration-300 group-hover:shadow-xl"
              >
                <img
                  src="ruta-del-icono/playa.png"
                  alt="Playa y Pileta"
                  class="w-10 h-10 transition-all duration-300"
                />
              </div>
              <!-- Texto debajo del círculo -->
              <span
                class="mt-[0.5rem] text-center text-sm text-black transition-all duration-300 group-hover:text-gray-700"
              >
                Playa y Pileta
              </span>
            </div>

            <div
              (click)="selectCategory('heladeras')"
              class="flex flex-col items-center transition-all duration-300 cursor-pointer group"
            >
              <!-- Círculo con la imagen -->
              <div
                class="w-[120px] h-[120px] bg-black/20 rounded-full flex items-center justify-center transition-all duration-300 group-hover:shadow-xl"
              >
                <img
                  src="ruta-del-icono/playa.png"
                  alt="Playa y Pileta"
                  class="w-10 h-10 transition-all duration-300"
                />
              </div>
              <!-- Texto debajo del círculo -->
              <span
                class="mt-[0.5rem] text-center text-sm text-black transition-all duration-300 group-hover:text-gray-700"
              >
                Playa y Pileta
              </span>
            </div>
            <div
              (click)="selectCategory('celulares')"
              class="flex flex-col items-center transition-all duration-300 cursor-pointer group"
            >
              <!-- Círculo con la imagen -->
              <div
                class="w-[120px] h-[120px] bg-black/20 rounded-full flex items-center justify-center transition-all duration-300 group-hover:shadow-xl"
              >
                <img
                  src="ruta-del-icono/playa.png"
                  alt="Playa y Pileta"
                  class="w-10 h-10 transition-all duration-300"
                />
              </div>
              <!-- Texto debajo del círculo -->
              <span
                class="mt-[0.5rem] text-center text-sm text-black transition-all duration-300 group-hover:text-gray-700"
              >
                Playa y Pileta
              </span>
            </div>
            <div
              (click)="selectCategory('playa-pileta')"
              class="flex flex-col items-center transition-all duration-300 cursor-pointer group"
            >
              <!-- Círculo con la imagen -->
              <div
                class="w-[120px] h-[120px] bg-black/20 rounded-full flex items-center justify-center transition-all duration-300 group-hover:shadow-xl"
              >
                <img
                  src="ruta-del-icono/playa.png"
                  alt="Playa y Pileta"
                  class="w-10 h-10 transition-all duration-300"
                />
              </div>
              <!-- Texto debajo del círculo -->
              <span
                class="mt-[0.5rem] text-center text-sm text-black transition-all duration-300 group-hover:text-gray-700"
              >
                Playa y Pileta
              </span>
            </div>
            <div
              (click)="selectCategory('playa-pileta')"
              class="flex flex-col items-center transition-all duration-300 cursor-pointer group"
            >
              <!-- Círculo con la imagen -->
              <div
                class="w-[120px] h-[120px] bg-black/20 rounded-full flex items-center justify-center transition-all duration-300 group-hover:shadow-xl"
              >
                <img
                  src="ruta-del-icono/playa.png"
                  alt="Playa y Pileta"
                  class="w-10 h-10 transition-all duration-300"
                />
              </div>
              <!-- Texto debajo del círculo -->
              <span
                class="mt-[0.5rem] text-center text-sm text-black transition-all duration-300 group-hover:text-gray-700"
              >
                Playa y Pileta
              </span>
            </div>
            <div
              (click)="selectCategory('playa-pileta')"
              class="flex flex-col items-center transition-all duration-300 cursor-pointer group"
            >
              <!-- Círculo con la imagen -->
              <div
                class="w-[120px] h-[120px] bg-black/20 rounded-full flex items-center justify-center transition-all duration-300 group-hover:shadow-xl"
              >
                <img
                  src="ruta-del-icono/playa.png"
                  alt="Playa y Pileta"
                  class="w-10 h-10 transition-all duration-300"
                />
              </div>
              <!-- Texto debajo del círculo -->
              <span
                class="mt-[0.5rem] text-center text-sm text-black transition-all duration-300 group-hover:text-gray-700"
              >
                Playa y Pileta
              </span>
            </div>
            <div
              (click)="selectCategory('playa-pileta')"
              class="flex flex-col items-center transition-all duration-300 cursor-pointer group"
            >
              <!-- Círculo con la imagen -->
              <div
                class="w-[120px] h-[120px] bg-black/20 rounded-full flex items-center justify-center transition-all duration-300 group-hover:shadow-xl"
              >
                <img
                  src="ruta-del-icono/playa.png"
                  alt="Playa y Pileta"
                  class="w-10 h-10 transition-all duration-300"
                />
              </div>
              <!-- Texto debajo del círculo -->
              <span
                class="mt-[0.5rem] text-center text-sm text-black transition-all duration-300 group-hover:text-gray-700"
              >
                Playa y Pileta
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full">
        <h2 class="text-4xl uppercase font-bold text-gray-800">
          Colecciones de {{ temporada }}
        </h2>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 h-full"
        >
          <app-card-item
            *ngFor="let product of filteredProducts"
            [name]="product.name"
            [description]="product.description"
            [price]="product.price"
            [image]="product.image"
            [category]="product.category"
            [isNew]="product.isNew"
          ></app-card-item>
        </div>
      </div>

      <div class="w-full">
        <h2 class="text-4xl uppercase font-bold text-gray-800">
          Colecciones de {{ temporada }}
        </h2>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 h-full"
        >
          <app-card-item
            *ngFor="let product of filteredProducts"
            [name]="product.name"
            [description]="product.description"
            [price]="product.price"
            [image]="product.image"
            [category]="product.category"
            [isNew]="product.isNew"
          ></app-card-item>
        </div>
      </div>

      <div class="w-full">
        <h2 class="text-4xl uppercase font-bold text-gray-800">
          Colecciones de {{ temporada }}
        </h2>
        <div
          class="grid items-center justify-center grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4"
        >
          <app-card-item
            *ngFor="let product of products"
            [name]="product.name"
            [description]="product.description"
            [price]="product.price"
            [image]="product.image"
            [category]="product.category"
            [isNew]="product.isNew"
          ></app-card-item>
        </div>
      </div>
    </div>
  </div>
</div>
