@use "./../../../@shared/scss/variables.scss" as v;
@use "./../../../@shared/scss/mixins.scss" as mixins;

.home-container {
  width: calc(100% - 2rem);
  margin: 1rem;
  border-radius: v.$border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .home {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    div {
      width: 100%;
      height: calc(100vh - 92px);
      border-radius: v.$border-radius;
      background-color: v.$background-opacity-2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

p {
  color: black;
}
