<div
  [@zoomOut]
  [@zoomIn]
  class="bg-white rounded shadow-lg overflow-hidden w-full h-full min-h-[147px] p-4 flex items-center"
>
  <div class="W-full h-full flex items-center justify-between gap-4 flex-1">
    <div class="flex items-center justify-start">
      <div class="h-[70px] w-[70px] mr-4 flex items-center justify-center">
        <img
          class="w-full h-full"
          src="../../../../assets/icons/CartSupermarketIcon.svg"
          alt=""
        />
      </div>
      <div class="text-start text-lg">
        <h2>
          {{
            textTitle
              ? textTitle
              : "Lo sentimos, no se encontraron resultados para su búsqueda."
          }}
        </h2>

        <p>
          {{
            textInfo
              ? textInfo
              : "Lo sentimos, no se encontraron resultados para su búsqueda."
          }}
        </p>
      </div>
    </div>
    @if (isButtonText) {
    <div class="flex items-center justify-center">
      <button *ngIf="buttonText" class="btn text-blue-600" (click)="goTo()">
        {{ buttonText }}
      </button>
    </div>
    }
  </div>
</div>
