<div class="disable-selection min-w-[290px] overflow-hidden">
  <div
    class="h-screen w-full bg-black/10 text-[#3a5a40] flex flex-col px-4 py-2"
  >
    <div class="mb-2 flex items-center justify-start">
      <button
        mat-icon-button
        aria-label="menu"
        #menuButton
        tabindex="-1"
        (mousedown)="$event.preventDefault()"
        (click)="closeLeftDrawer($event)"
      >
        <lucide-icon name="x"></lucide-icon>
      </button>
      <app-logo></app-logo>
    </div>

    <!-- Uso del componente menú -->
    <app-menu
      [items]="menuItems"
      [userRole]="userRole"
      [onItemClick]="closeLeftDrawer.bind(this)"
    ></app-menu>
  </div>
</div>
