<div class="p-4 rounded-lg shadow-lg flex flex-col justify-between items-start bg-white text-primary-foreground  h-50 ">
    <div class="flex flex-row items-center justify-between w-full">
        <h2 class="text-3xl  font-medium text-black mb-4 mr-2 ">Proyectos Activos</h2>

        <div class="flex flex-row items-center text-3xl  gap-2  font-bold"> <lucide-icon
                name="folder-kanban"></lucide-icon>
            <span>2</span>
        </div>

    </div>

    <div class="flex flex-col gap-2 w-full">
        <div class="flex flex-row items-center text-2xl font-semibold tracking-wider gap-2"><lucide-icon
                name="chart-no-axes-column-increasing"></lucide-icon>
            <h3 class="">Favalogyc</h3>
        </div>

        <div class="flex flex-row items-center text-xl font-medium gap-2"><lucide-icon
                name="calendar-clock"></lucide-icon>
            <h4 class="">Progreso del mes actual</h4>

        </div>

        <div class="flex flex-col items-center text-xl font-medium gap-2 ">
            <div class="flex flex-row items-center justify-between w-full">
                <div class="flex flex-row gap-1 text-xl font-medium">
                    <p>160
                    </p>
                    <lucide-icon name="timer"></lucide-icon>

                </div>
                <div class="flex flex-row gap-1 text-xl font-medium">
                    <p>180</p>
                    <lucide-icon name="timer"></lucide-icon>

                </div>
            </div>
            <mat-progress-bar class="h-2" mode="determinate" value="80"></mat-progress-bar>
        </div>


    </div>
    <!-- <p class="text-5xl font-bold mb-2 text-black">{{'15'}}</p>
    <p class="text-lg text-black">Disponibles para este año</p> -->
</div>