<div
    class="p-4 rounded-lg shadow-lg flex flex-col justify-between items-start bg-primary text-primary-foreground  gap-2 h-50 ">
    <div class="flex items-center gap-4 text-3xl  font-medium text-white">
        <lucide-icon name="tree-palm"></lucide-icon>
        <h2 class="m-0">
            Días de Vacaciones</h2>
    </div>
    <div class="">
        <p class="flex items-center gap-4 text-5xl font-bold mb-2 text-white"> {{'15'}} <lucide-icon
                name="calendar"></lucide-icon>
        </p>
        <p class="m-0 text-lg text-white">Disponibles para este año</p>
    </div>


</div>