<nav class="bg-transparent py-3 px-4 rounded">
    <ol class="flex items-center space-x-2 text-sm text-gray-600">
      <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">
        <li>
          <ng-container *ngIf="!last; else lastBreadcrumb">
            <a [routerLink]="breadcrumb.url" class="text-gray-500 hover:underline">
              {{ breadcrumb.label }}
            </a>
          </ng-container>
          <ng-template #lastBreadcrumb>
            <span class="font-medium text-gray-900">{{ breadcrumb.label }}</span>
          </ng-template>
        </li>
        <li *ngIf="!last">
          <span class="text-gray-400">/</span>
        </li>
      </ng-container>
    </ol>
    <div *ngIf="filter" class="mt-2">Filtro: {{ filter }}</div>
  </nav>
  