<app-splash-screen></app-splash-screen>

<mat-drawer-container class="h-full" [hasBackdrop]="true">
  @if (isLeftFilterSidebarOpen$ | async) {
  <mat-drawer
    class="bg-[#4d7c0f]/20 overflow-y-auto max-h-full"
    mode="over"
    position="start"
    [opened]="isLeftFilterSidebarOpen$ | async"
    (closedStart)="closeLeftDrawerFilters()"
  >
    <app-left-sidebar-filters></app-left-sidebar-filters>
  </mat-drawer>
  } @if (isLeftSidebarOpen$ | async) {
  <mat-drawer
    class="bg-[#4d7c0f]/20 overflow-y-auto max-h-full"
    mode="over"
    position="start"
    [opened]="isLeftSidebarOpen$ | async"
    (closedStart)="closeLeftDrawer()"
  >
    <app-left-sidebar></app-left-sidebar>
  </mat-drawer>
  }

  <mat-drawer
    class="bg-[#4d7c0f]/20 overflow-y-auto max-h-full"
    mode="over"
    position="end"
    [opened]="isRightSidebarOpen$ | async"
    (closedStart)="closeRightDrawer()"
  >
    <app-right-sidebar></app-right-sidebar>
  </mat-drawer>

  <mat-drawer-content
    [ngClass]="{
      'max-h-screen':
        (isLeftFilterSidebarOpen$ | async) ||
        (isLeftSidebarOpen$ | async) ||
        (isRightSidebarOpen$ | async)
    }"
    class="!overflow-hidden"
  >
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
