<div
  class="w-72 bg-[#588157]/90 h-full backdrop-blur-lg rounded-[4px] p-6 shadow-lg"
>
  <div class="flex items-center justify-between mb-2">
    <h2 class="text-xl font-semibold text-white !m-0">Filtros</h2>
    <button
      class="text-sm hover:underline text-gray-200"
      (click)="clearFilters()"
    >
      Borrar filtros
    </button>
  </div>

  <div class="space-y-5">
    <!-- Categorías -->
    <div>
      <!-- Categorías -->
      <h3 class="text-base font-medium text-white !m-0">Categorías</h3>
      <div class="space-y-1">
        <div
          *ngFor="let category of categories"
          (click)="selectCategory(category.id)"
          [ngClass]="{
            'bg-[#588157]/80': filters.selectedCategory === category.id
          }"
          class="text-white/80 cursor-pointer px-4 py-2 rounded-[4px]"
        >
          {{ category.label }}
        </div>
      </div>
    </div>

    <hr class="border-white/20 !mt-2" />

    <!-- Tipo de Flores -->
    <div>
      <h3 class="text-base font-medium text-white !m-0">Tipo de Flores</h3>
      <div class="space-y-1">
        <div
          *ngFor="let type of flowerTypes"
          (click)="selectFlowerType(type.id)"
          [ngClass]="{
            'bg-[#588157]/80': filters.selectedFlowerType === type.id
          }"
          class="text-white/80 cursor-pointer px-4 py-2 rounded-[4px]"
        >
          {{ type.label }}
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-500/50" />

    <!-- Precio -->
    <div>
      <!-- Filtro de Precio -->
      <h3 class="text-base font-medium text-white !m-0">Precio</h3>
      <!-- Lista de precios fijos -->
      <div class="w-full flex flex-col items-start space-y-2">
        <div
          *ngFor="let price of fixedPrices"
          (click)="selectFixedPrice(price.value)"
          [ngClass]="{
            'bg-[#588157]/80': filters.selectedFixedPrice === price.value
          }"
          class="w-full text-white/80 cursor-pointer px-4 py-2 rounded-[4px]"
        >
          {{ price.label }}
        </div>
      </div>
      <!-- Inputs personalizados de min y max -->
      <div class="flex items-center mt-2 space-x-2">
        <input
          type="number"
          [(ngModel)]="filters.customPrice.min"
          (input)="onCustomPriceInput()"
          placeholder="Min"
          class="w-20 p-1 rounded-[4px]"
        />
        <lucide-icon
          name="arrow-left-right"
          class="text-white"
        ></lucide-icon>
        <input
          type="number"
          [(ngModel)]="filters.customPrice.max"
          (input)="onCustomPriceInput()"
          placeholder="Max"
          class="w-20 p-1 rounded-[4px]"
        />

        <div class="w-12 h12 flex items-center justify-center">
          <lucide-icon name="chevron-right" class="text-white"></lucide-icon>
        </div>
      </div>
    </div>
  </div>
</div>
