<div class="max-w-[1200px] mx-auto py-4 min-h-[calc(100vh-305px)]">
  <div class="custom-height flex">
    <!-- <example-custom-stepper>
      <cdk-step> <p>This is any content of "Step 1"</p> </cdk-step>
      <cdk-step> <p>This is any content of "Step 2"</p> </cdk-step>
    </example-custom-stepper> -->
    <div class="w-full h-full flex-1 flex justify-center items-start gap-4">
      <div class="min-h-[360px] w-[300px] flex-1 rounded overflow-hidden">
        @if (shoppingCart().length !== 0) {
        <div class="border-b border-black/10 px-4 pt-4 bg-white rounded-t">
          <h2 class="text-2xl font-bold text-gray-800">Productos</h2>
        </div>
        }
        <div class="flex flex-col gap-1">
          @for (item of shoppingCart(); track $index) {
          <app-product-card-add
            [product]="item"
            [showCartAdd]="false"
            [quantity]="quantities[item.id] || 0"
            (addToCartEvent)="addToCart($event)"
            (removeFromCartEvent)="removeFromCart($event)"
            (increaseQuantityEvent)="increaseQuantity($event)"
            (decreaseQuantityEvent)="decreaseQuantity($event)"
          ></app-product-card-add>
          } @if (shoppingCart().length === 0) {
          <div class="w-full h-full">
            <app-card-not-data-source
              class=""
              [textTitle]="'Tu carrito está vacío.'"
              [textInfo]="'Elegí el regalo ideal y sorprendé a alguien hoy.'"
            ></app-card-not-data-source>
          </div>

          }
        </div>
        @if (shoppingCart().length !== 0) {
        <div
          class="flex items-center justify-around bg-white p-4 border-t border-black/10 rounded-b shadow-lg overflow-hidden"
        >
          <div class="flex-1 flex items-center gap-4 py-4">
            <h3 class="text-lg font-bold text-gray-700 mb-2">Envio</h3>
          </div>
          <div class="flex items-start gap-4 py-4">
            <div class="w-[40px] h-[30px] flex items-center justify-center">
              <p class="p-0 text-sm font-bold text-gray-700 mb-2">-</p>
            </div>
          </div>
        </div>
        }
      </div>

      <app-purchase-summary (continuarCompra)="procesarCompra()">
      </app-purchase-summary>
    </div>
  </div>
</div>
