* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  // height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Estilo genérico para los scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: auto;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4b4c4e;
  border-radius: 6px;

  &:hover {
    background: #454545;
  }
}
