<div [@slideInLeft] class="login-container">
  <div
    class="login flex flex-col md:flex-row justify-center items-center md:min-w-[744px] md:h-[85%]"
  >
    <div
      class="hidden lg:block left md:flex flex-col justify-center items-center bg-primary/50 backdrop-blur-md rounded-[4px] md:px-6 py-4"
    >
      <div class="flex items-center gap-2 mb-4">
        <lucide-icon name="leaf" class="w-8 h-8 text-white"></lucide-icon>
        <h2 class="text-2xl font-bold text-white !m-0">
          Bienvenido a <span class="!font-playfair"> Los Jazmines </span>
        </h2>
      </div>

      <div class="flex items-center gap-2 my-2">
        <p class="text-base text-white/80 text-center">
          Descubre la magia de nuestras flores frescas seleccionadas diariamente
          para crear momentos inolvidables.
        </p>
      </div>
      <div class="w-full flex flex-col items-start justify-start">
        <h2 class="text-lg font-semibold text-white mb-3">
          Beneficios de tu cuenta:
        </h2>
        <ul class="text-white space-y-1">
          <li
            class="flex items-center gap-2 before:content-['•'] before:text-white"
          >
            Seguimiento de pedidos
          </li>
          <li
            class="flex items-center gap-2 before:content-['•'] before:text-white"
          >
            Descuentos exclusivos
          </li>
          <li
            class="flex items-center gap-2 before:content-['•'] before:text-white"
          >
            Recordatorios de fechas especiales
          </li>
        </ul>
        <!-- 
          <h3 class="mt-4 text-gray-800 font-medium">¿Nuevo en Los Jazmines?</h3>
          <p class="text-gray-600 mt-1">
            Regístrate y obtén
            <span class="font-semibold text-green-600">10% de descuento</span>
            en tu primer pedido.
          </p> -->
      </div>
    </div>

    @if(view_type() === 'login'){
    <app-login
      class="w-[350px] h-full min-h-[452px] z-20"
      (setViewType)="setViewType($event)"
    ></app-login>
    } @if( view_type() === 'checkout'){
    <app-checkout
      class="w-[350px] h-full min-h-[452px] z-20"
      (setViewType)="setViewType($event)"
    ></app-checkout>
    } @if( view_type() === 'register'){
    <app-register
      class="w-[350px] h-full min-h-[452px] z-20"
      (setViewType)="setViewType($event)"
    ></app-register>
    }
  </div>
</div>
