<div class="max-w-[1200px] mx-auto">
  <div class="p-8 custom-height flex flex-col gap-4">
    <div class="w-full h-full flex justify-center items-start gap-4">
      <div
        class="min-h-[360px] h-full w-[410px] rounded overflow-hidden flex flex-col gap-2 bg-white rounded shadow p-4"
      >
        <div class="border-b border-black/10 w-full flex-1">
          <h2 class="text-2xl font-bold text-gray-800">Detalles</h2>
        </div>

        <div class="min-h-[143px] w-full flex-1 border-b border-black/10">
          <div class="w-full flex-1 flex flex-col">
            <div class="flex items-center gap-2 mb-2">
              <!-- <lucide-icon
                name="receipt"
                class="w-4 h-4 text-gray-700"
              ></lucide-icon> -->
              <p class="text-black text-base">Transacción Detalles</p>
            </div>
            <div class="text-gray-600 text-sm">
              <div class="flex items-center gap-2 mb-2">
                <lucide-icon
                  name="calendar"
                  class="w-4 h-4 text-gray-600"
                ></lucide-icon>
                <p>Fecha: 01/01/2025</p>
              </div>
              <div class="flex items-center gap-2 mb-2">
                <lucide-icon
                  name="check"
                  class="w-4 h-4 text-gray-600"
                ></lucide-icon>
                <p>Estado: Pagado</p>
              </div>
              <div class="flex items-center gap-2 mb-2">
                <lucide-icon
                  name="credit-card"
                  class="w-4 h-4 text-gray-600"
                ></lucide-icon>
                <p>Medio de pago: Tarjeta de crédito</p>
              </div>
            </div>
          </div>
        </div>

        <div class="min-h-[143px] w-full flex-1">
          <div class="w-full flex-1 flex flex-col">
            <div class="flex items-center gap-2 mb-2">
              <!-- <lucide-icon
                name="truck"
                class="w-6 h-6 text-gray-700"
              ></lucide-icon> -->
              <p class="text-black text-base">Envío Detalles</p>
            </div>
            <div class="text-gray-600 text-sm">
              <div class="flex items-center gap-2 mb-2">
                <lucide-icon
                  name="map-pin"
                  class="w-4 h-4 text-gray-600"
                ></lucide-icon>
                <p>Dirección de envío: Calle 123, Ciudad</p>
              </div>
              <div class="flex items-center gap-2 mb-2">
                <lucide-icon
                  name="user"
                  class="w-4 h-4 text-gray-600"
                ></lucide-icon>
                <p>Nombre: Juan Pérez</p>
              </div>
              <div class="flex items-center gap-2 mb-2">
                <lucide-icon
                  name="check"
                  class="w-4 h-4 text-gray-600"
                ></lucide-icon>
                <p>Estado: En camino</p>
              </div>
              <div class="flex items-center gap-2 mb-2">
                <lucide-icon
                  name="phone"
                  class="w-4 h-4 text-gray-600"
                ></lucide-icon>
                <p>Teléfono: +123456789</p>
              </div>
              <div class="flex items-center gap-2 mb-2">
                <lucide-icon
                  name="dollar-sign"
                  class="w-4 h-4 text-gray-600"
                ></lucide-icon>
                <p>Medio de pago: PayPal</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="min-w-[360px] flex flex-col gap-4 flex-1 px-4 pb-4">
        <!-- Encabezado -->
        <div
          class="grid grid-cols-5 w-full items-center text-center gap-4 border-b border-black/10 py-2"
        >
          <div class="w-[60px]"></div>
          <!-- Espacio para la imagen -->
          <h2 class="text-lg font-semibold text-gray-800">Producto</h2>
          <h2 class="text-lg font-semibold text-gray-800">Cantidad</h2>
          <h2 class="text-lg font-semibold text-gray-800">Precio</h2>
          <h2 class="text-lg font-semibold text-gray-800">Total</h2>
        </div>

        <!-- Lista de productos -->
        <div class="w-full flex flex-col min-h-[288px] bg-black/1 gap-2">
          <div
            class="grid grid-cols-5 w-full items-center gap-4 bg-black/5 rounded shadow p-2"
          >
            <!-- Columna 1: Imagen -->
            <div
              class="w-[60px] h-[60px] rounded overflow-hidden shadow bg-black/20 flex-shrink-0"
            >
              <img
                src="ruta_de_la_imagen"
                alt="Imagen del producto"
                class="w-full h-full object-cover"
              />
            </div>

            <!-- Columna 2: Nombre del producto -->
            <div class="flex items-center gap-2">
              <lucide-icon
                name="box"
                class="w-4 h-4 text-gray-600"
              ></lucide-icon>
              <p class="text-sm font-semibold text-gray-800">
                Nombre del Producto
              </p>
            </div>

            <!-- Columna 3: Cantidad -->
            <div class="flex items-center gap-2 justify-center">
              <lucide-icon
                name="layers"
                class="w-4 h-4 text-gray-600"
              ></lucide-icon>
              <p class="text-sm font-bold text-black">2</p>
            </div>

            <!-- Columna 4: Precio unitario -->
            <div class="flex items-center gap-2 justify-center">
              <lucide-icon
                name="dollar-sign"
                class="w-4 h-4 text-gray-600"
              ></lucide-icon>
              <p class="text-sm font-bold text-black">50.00</p>
            </div>

            <!-- Columna 5: Precio final total -->
            <div class="flex items-center gap-2 justify-center">
              <lucide-icon
                name="dollar-sign"
                class="w-4 h-4 text-green-600"
              ></lucide-icon>
              <p class="text-base font-extrabold text-green-600">100.00</p>
            </div>
          </div>

          <div
            class="grid grid-cols-5 w-full items-center gap-4 bg-black/5 rounded shadow p-2"
          >
            <!-- Columna 1: Imagen -->
            <div
              class="w-[60px] h-[60px] rounded overflow-hidden shadow bg-black/20 flex-shrink-0"
            >
              <img
                src="ruta_de_la_imagen"
                alt="Imagen del producto"
                class="w-full h-full object-cover"
              />
            </div>

            <!-- Columna 2: Nombre del producto -->
            <div class="flex items-center gap-2">
              <lucide-icon
                name="box"
                class="w-4 h-4 text-gray-600"
              ></lucide-icon>
              <p class="text-sm font-semibold text-gray-800">
                Nombre del Producto
              </p>
            </div>

            <!-- Columna 3: Cantidad -->
            <div class="flex items-center gap-2 justify-center">
              <lucide-icon
                name="layers"
                class="w-4 h-4 text-gray-600"
              ></lucide-icon>
              <p class="text-sm font-bold text-black">2</p>
            </div>

            <!-- Columna 4: Precio unitario -->
            <div class="flex items-center gap-2 justify-center">
              <lucide-icon
                name="dollar-sign"
                class="w-4 h-4 text-gray-600"
              ></lucide-icon>
              <p class="text-sm font-bold text-black">50.00</p>
            </div>

            <!-- Columna 5: Precio final total -->
            <div class="flex items-center gap-2 justify-center">
              <lucide-icon
                name="dollar-sign"
                class="w-4 h-4 text-green-600"
              ></lucide-icon>
              <p class="text-base font-extrabold text-green-600">100.00</p>
            </div>
          </div>

          <div
            class="grid grid-cols-5 w-full items-center gap-4 bg-black/5 rounded shadow p-2"
          >
            <!-- Columna 1: Imagen -->
            <div
              class="w-[60px] h-[60px] rounded overflow-hidden shadow bg-black/20 flex-shrink-0"
            >
              <img
                src="ruta_de_la_imagen"
                alt="Imagen del producto"
                class="w-full h-full object-cover"
              />
            </div>

            <!-- Columna 2: Nombre del producto -->
            <div class="flex items-center gap-2">
              <lucide-icon
                name="box"
                class="w-4 h-4 text-gray-600"
              ></lucide-icon>
              <p class="text-sm font-semibold text-gray-800">
                Nombre del Producto
              </p>
            </div>

            <!-- Columna 3: Cantidad -->
            <div class="flex items-center gap-2 justify-center">
              <lucide-icon
                name="layers"
                class="w-4 h-4 text-gray-600"
              ></lucide-icon>
              <p class="text-sm font-bold text-black">2</p>
            </div>

            <!-- Columna 4: Precio unitario -->
            <div class="flex items-center gap-2 justify-center">
              <lucide-icon
                name="dollar-sign"
                class="w-4 h-4 text-gray-600"
              ></lucide-icon>
              <p class="text-sm font-bold text-black">$50.00</p>
            </div>

            <!-- Columna 5: Precio final total -->
            <div class="flex items-center gap-2 justify-center">
              <lucide-icon
                name="dollar-sign"
                class="w-4 h-4 text-green-600"
              ></lucide-icon>
              <p class="text-base font-extrabold text-green-600">100.00</p>
            </div>
          </div>
        </div>
        <div
          class="flex items-center gap-2 text-gray-800 border-t border-black/10 pt-2"
        >
          <lucide-icon name="truck" class="w-5 h-5 text-gray-700"></lucide-icon>
          <p class="font-bold">Costo de envío:</p>

          <p
            *ngIf="envioTotal === 0"
            class="text-green-600 font-semibold flex items-center gap-1"
          >
            <lucide-icon
              name="badge-check"
              class="w-4 h-4 text-green-600"
            ></lucide-icon>
            Envío Gratis
          </p>

          <p
            *ngIf="envioTotal > 0"
            class="font-semibold flex items-center gap-1"
          >
            <lucide-icon
              name="dollar-sign"
              class="w-4 h-4 text-blue-600"
            ></lucide-icon>
            Total del envío:
            <span class="text-blue-600">${{ envioTotal }}</span>
          </p>
        </div>

        <div
          class="w-full flex justify-end items-center text-center gap-4 border-t border-black/10 py-2"
        >
          <div
            class="max-w-[220px] flex items-center gap-3 justify-between p-2 bg-gray-100 rounded-lg shadow"
          >
            <p class="text-lg font-extrabold text-green-600">Total:</p>

            <lucide-icon
              name="receipt"
              [size]="28"
              class="text-green-600"
            ></lucide-icon>

            <p class="text-lg font-extrabold text-green-600">300.00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
