<div
    class="p-4 rounded-lg shadow-lg flex flex-col justify-between items-start bg-white text-primary-foreground      h-50 ">
    <div class="flex items-center gap-4 text-3xl  font-medium text-black">
        <lucide-icon name="calendar-clock"></lucide-icon>
        <h2 class="">
            Solicitudes pendientes
        </h2>
    </div>
    <div class="flex items-center justify-center w-full h-full">
        <p class="flex items-center gap-4 text-5xl font-bold mb-2 text-black"> {{'0'}}
            <!-- <lucide-icon
                name="calendar"></lucide-icon> -->
        </p>
        <!-- <p class="text-lg text-white">Disponibles para este año</p> -->
    </div>


</div>