@use "./../../../@shared/scss/variables.scss" as v;
@use "./../../../@shared/scss/mixins.scss" as mixins;

.online-store-container {
  width: calc(100% - 2rem);
  // height: calc(100vh - 92px);
  margin: 1rem;
  border-radius: v.$border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .online-store {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .right {
      width: 100%;
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      border-radius: v.$border-radius;
      gap: 1rem;

      .header {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: v.$border-radius;

        // background-color: v.$background-primary;
      }

      .body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
        padding: 1rem;
        gap: 2rem;
        // border-radius: v.$border-radius;
        // background-color: v.$background-opacity-2;
        overflow: hidden;

        .left {
          width: 100%;
          height: 120px;
          // height: calc(100vh - 92px); /* Altura total menos 92px */
          // position: sticky; /* Fija el elemento dentro de su contenedor */
          // top: 1rem; /* Se pega en la parte superior */
          display: flex; /* Alineación del contenido */
          justify-content: center; /* Centra horizontalmente el contenido */
          align-items: center; /* Centra verticalmente el contenido */
          border-radius: 8px; /* Ajusta este valor según sea necesario */
          background-color: rgba(0, 0, 0, 0); /* Color de fondo con opacidad */
        }

        .container__items {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          gap: 1rem;
          flex-wrap: wrap;
          overflow-y: auto;
        }
      }
    }
  }
}

.carrousel {
  width: 100%;
  height: 100%;
}

swiper-container {
  width: 100%;
  height: 100%;
  padding: 0 1rem;

  swiper-slide {
    width: 100%;
    height: 100%;

    // @include mixins.tablets {
    //   width: 70%;
    // }

    // // @include mixins.tablets {
    // //   width: 70%;
    // // }

    @include mixins.desktop {
      width: 90%;
    }

    img {
      border-radius: 5px;
      overflow: hidden;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
