<div class="online-store-container">
  <div class="online-store">
    <div class="left">
      <app-shop-filters></app-shop-filters>
    </div>

    <div class="right">
      <div class="h-10 w-full"><app-breadcrumb></app-breadcrumb></div>

      <div class="header">
        <div [@zoomIn] [@zoomOut] class="carrousel">
          <div class="carrousel-items">
            <app-carrousel-swiper [images]="imgHeader"></app-carrousel-swiper>
          </div>
        </div>
      </div>

      <div class="w-full">
        <div class="flex justify-between items-center mb-6">
          <!-- Filtro de Ordenación -->
          <div class="flex items-center space-x-4">
            <label for="orderBy" class="text-sm font-medium"
              >Ordenar por:</label
            >
            <select
              id="orderBy"
              [(ngModel)]="selectedOrder"
              (change)="applyFilter()"
              class="border p-2 rounded-md text-sm"
            >
              <option value="ascendente">Ascendente</option>
              <option value="descendente">Descendente</option>
              <option value="mayorValor">Mayor Valor</option>
              <option value="menorValor">Menor Valor</option>
            </select>
          </div>

          <!-- Contador de Items -->
          <div class="text-sm font-medium">
            <span>{{ filteredItems.length }} Items disponibles</span>
          </div>
        </div>
        <!-- <h2 class="text-4xl uppercase font-bold text-gray-800">
          Colecciones de {{ temporada }}
        </h2> -->
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 h-full"
        >
          <app-card-item
            *ngFor="let product of filteredProducts"
            [name]="product.name"
            [description]="product.description"
            [price]="product.price"
            [image]="product.image"
            [category]="product.category"
            [isNew]="product.isNew"
          ></app-card-item>
        </div>
      </div>
    </div>
  </div>
</div>
